<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

	<configuration>
		<add key="Player1C" value="#FF00FF00" />
		<add key="Player2C" value="#FFFF0000" />
		<add key="Player3C" value="#FF0000FF" />
		<add key="Player4C" value="#FFFFFF00" />
	</configuration>
</configuration>